* {
    margin: 0;
    padding: 0;
}


.solid {
    border: 5px solid black;
}

.box1 {
    width: 1000;
    height: 500;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-top: 10px;
}

.box2 {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
    margin-top: 220px;
}


.box3 {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-top: 50px;
}

.box4 {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-top: 50px;
}

h2 {
    text-align: center;
}

.dotted {
    border-style: dotted;
}

.greenbg {
    background-color: green;
}

.whitebg {
    background-color: white;
}